<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cars.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADE567951F7940EC0002C23E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADE567AC1F7940EC0002C23E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADE567B71F7940EC0002C23E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
